/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h5 {
    font-weight: bold;
}

.container {
    margin-top: 20px;
}

/* Hero Section */
/* Hero Section */
header {
    background: linear-gradient(90deg, rgba(0, 36, 11, 0.5) 0%, rgba(9, 9, 121, 0.25) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    text-align: center;
    padding: 20px; /* Espaciado interno */
}

header img {
    width: 20%; /* Limita el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción */
    min-width: 200px;
}

header h1 {
    font-size: 2.5rem;
    margin: 10px 0; /* Espaciado entre el logo y el texto */
}

header p {
    font-size: 1.2rem;
    margin: 10px 0; /* Espaciado entre el h1 y el párrafo */
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem; /* Tamaño más pequeño en pantallas más pequeñas */
    }

    header p {
        font-size: 1rem; /* Tamaño más pequeño para el párrafo */
    }
}





/* Lazy load images */
.lazyload {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.lazyload.lazyloaded {
    opacity: 1;
}

/* Card styling */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
}

footer a {
    color: #ffc107;
}

footer a:hover {
    color: #e0a800;
}


.table th {
    background-color: #007bff;
    color: white;
}

.table td {
    vertical-align: middle;
}


body {
    background-color: #f8f9fa; /* Color de fondo claro */
}

.container {
    margin-top: 20px;
    background-color: #ffffff; /* Fondo blanco para las secciones */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

h2 {
    color: #007bff; /* Color azul para los títulos */
}


.navbar-nav .nav-link {
    margin-left: 15px; /* Margen a la izquierda */
    color: #007bff; /* Color azulado */
    padding: 10px 15px; /* Espaciado interno (arriba/abajo, izquierda/derecha) */
    transition: background-color 0.3s; /* Transición suave para el efecto hover */
}

.navbar-nav .nav-link:hover {
    background-color: rgba(0, 123, 255, 0.2); /* Efecto de oscurecimiento al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados para el efecto hover */
}

.navbar-toggler {
    margin-right: 15px;
}


/* Teams page */
#teams-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .team-box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .team-box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .team-box h3 {
    margin-top: 10px;
    font-size: 18px;
  }