/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h5 {
    font-weight: bold;
}

.container {
    margin-top: 20px;
}

/* Hero Section */
header {
    background: linear-gradient(90deg, rgba(0, 36, 11, 0.5) 0%, rgba(9, 9, 121, 0.25) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    text-align: center;
    padding: 20px; 
}

header img {
    width: 20%; 
    height: auto; 
    min-width: 200px;
}

header h1 {
    font-size: 2.5rem;
    margin: 10px 0; 
}

header p {
    font-size: 1.2rem;
    margin: 10px 0; 
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem; 
    }

    header p {
        font-size: 1rem; 
    }
}

/* Lazy load images */
.lazyload {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.lazyload.lazyloaded {
    opacity: 1;
}

/* Card styling */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
}

footer a {
    color: #ffc107;
}

footer a:hover {
    color: #e0a800;
}


.table th {
    background-color: #007bff;
    color: white;
}

.table td {
    vertical-align: middle;
}


body {
    background-color: #f8f9fa; 
}

.container {
    margin-top: 20px;
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #007bff; 
}


.navbar-nav .nav-link {
    margin-left: 15px; 
    color: #007bff; 
    padding: 10px 15px; 
    transition: background-color 0.3s; /
}

.navbar-nav .nav-link:hover {
    background-color: rgba(0, 123, 255, 0.2); 
    border-radius: 5px; 
}

.navbar-toggler {
    margin-right: 15px;
}


/* Teams page */
#teams-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-box {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.team-box img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.team-box h3 {
  margin-top: 10px;
  font-size: 18px;
}